{% extends "base.html" %}
{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">
      Controle do led
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" id="bt_led_on">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    On
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-danger" id="bt_led_off">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Off
                </button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
      Controle do rele
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" id="bt_rele_on">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    On
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-danger" id="bt_rele_off">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Off
                </button>
            </div>
        </div>
    </div>
</div>

<br/><br/>

<div class="panel panel-info">
    <div class="panel-heading">
      Controle do servo
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <label for="basic-url">Digite o valor para o servo 1 de (0 a 180)</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="bt_servo1_update">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        update
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="valor em graus" id="input_servo1">
            </div>
        </div>
        <div class="col-md-6">
            <label for="basic-url">Digite o valor para o servo 2 de (0 a 180)</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="bt_servo2_update">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        update
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="valor em graus" id="input_servo2">
            </div>
        </div>
    </div>
</div>

<br /><br />

<div class="panel panel-info">
    <div class="panel-heading">
      Controle LCD
    </div>
    <div class="panel-body">
        <label for="basic-url">Digite o valor para o LCD</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="bt_lcd_update">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    update
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Digite linha1,linha2" id="input_lcd">
        </div>
    </div>
</div>

<script>
    $("#bt_servo1_update").click(function()
    {
        var valor = $("#input_servo1").val();
        $.get( "/servo1/" + valor, function( data ) 
        {
            valor;
            console.log( "Load was performed." );
        });
    })
    $("#bt_servo2_update").click(function()
    {
        var valor = $("#input_servo2").val();
        $.get( "/servo2/" + valor, function( data ) 
        {
            valor;
            console.log( "Load was performed." );
        });
    })
    $("#bt_lcd_update").click(function()
    {
        var valor = $("#input_lcd").val();
        $.get( "/lcd/" + valor, function( data ) 
        {
            valor;
            console.log( "Load was performed." );
        });
    })
    $("#bt_led_on").click(function()
    {
        $.get( "/led/1", function( data ) 
        {
            console.log( "Load was performed." );
        });
    })
    $("#bt_led_off").click(function()
    {
        $.get( "/led/0", function( data ) 
        {
            console.log( "Load was performed." );
        });
    })
     $("#bt_rele_on").click(function()
    {
        $.get( "/rele/1", function( data ) 
        {
            console.log( "Load was performed." );
        });
    })
    $("#bt_rele_off").click(function()
    {
        $.get( "/rele/0", function( data ) 
        {
            console.log( "Load was performed." );
        });
    })
</script>


{% endblock %}
