<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='jquery/jquery-min.js') }}">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" 
          rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" 
          rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='vendor/datatables/dataTables-bootstrap4.css')}}" >
    <link href="{{url_for('static',filename='css/sb-admin.css')}}" rel="stylesheet">
    <!-- Arquivos highcharts -->
    <script type="text/javascript" 
            src="{{ url_for('static', filename='highcharts/exporting.js') }}">
    </script>

    <script type="text/javascript" 
            src="{{ url_for('static', filename='highcharts/highcharts.js') }}">
    </script>

    <script type="text/javascript" 
          src="{{ url_for('static', filename='highcharts/highcharts-more.js') }}">
    </script>

    <!-- Arquivos joystick -->


</head>


    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Sistema de Gestao de Energia Remota</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Visualizacoes</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Configuracoes</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out" href="/logout"></i>Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw "></i>Ola!  &nbsp; {{ usuario }}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Informacoes do Servidor</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">CPU</span> <hr>
              <span class="float-left" id="cpu_perc"></span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">Memoria RAM</span><hr>
              <span class="float-left" id="p_mem"></span>
            </a>  
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">Disco</span><hr>
              <span class="float-left" id="p_disc"></span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">Numero de Clientes no Flask</span>
            </a>
          </div>
        </div>
      </div>
      

      {% block content %}
      {% endblock %}



 
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deseja realmente sair?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Selecione "Logout" abaixo para terminar sua sessão.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> 
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>  
    <!-- Core plugin JavaScript-->
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script> 
    <!-- Page level plugin JavaScript-->
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>  
    <!-- Custom scripts for all pages-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin-datatables.min.js') }}"></script>	  
	<script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin-charts.js') }}"></script>
  <!-- Custom scripts for gauges-->
  <script type="text/javascript" 
          src="{{ url_for('static', filename='js/sb-admin-gauges.js') }}"></script>

  <script type="text/javascript" 
          src="{{ url_for('static', filename='gauges/Scripts/mscorlib.js') }}"></script>

  <script type="text/javascript" 
          src="{{ url_for('static', filename='gauges/Scripts/PerfectWidgets.js') }}"></script>

  <script type="text/javascript" 
          src="{{ url_for('static', filename='gauges/jsonfiles/Thermometer.js') }}"></script>

  <script type="text/javascript" 
          src="{{ url_for('static', filename='highcharts/solid-gauge.js') }}"></script>

  <script type="text/javascript" 
          src="{{ url_for('static', filename='js/eventos.js') }}"></script>



  
       </div>
    </div>
  </body>
</html>
