 {% extends "base.html" %}
{% block content %}


<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Intensidade de Energia Captada Durante o Dia</div>
  <div class="card-body">
    <div id="container-grafico-dinamico" width="100%" height="30"></div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Media Captada Diaria</div>
  <div class="card-body">
    <div id="container-grafico-colunas" width="100%" height="30"></div>
  </div>
</div> 
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-battery-2"></i> Medidor de bateria</div>
  <div class="card-body">
    <div id="battery_meter"></div>        
  </div>
</div> 

{% endblock %}