{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
         Potenciometro
        </div>
        <div class="panel-body">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="bt_potenciometro_update">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    update
                </button>
            </span>
             <input type="checkbox" aria-label="autoupdate" id="autoupdate_potenciometro"> autoupdate
            <br />
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="1023"  id="barra_potenciometro">
                500
            </div>
        </div>
    </div>
    <br /><br />

    <div class="panel panel-info">
        <div class="panel-heading">
         Temperatura
        </div>
        <div class="panel-body">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="bt_temperatura_update">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    update
                </button>
            </span>
             <input type="checkbox" aria-label="autoupdate" id="autoupdate_temperatura"> autoupdate
            <br/>
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="1023"  id="barra_temperatura">
                500
            </div>
            
        </div>
    </div>

    <br/><br/>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
      Exibiacao em gauges
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div id = "container1" style = "width: 550px; height: 400px; margin: 0 auto"> </div> 
            </div>
            <div class="col-md-6">
                <div id = "container2" style = "width: 550px; height: 400px; margin: 0 auto"> </div> 
            </div>
        </div>
    </div>
</div>

<script language = "JavaScript">
        Highcharts.chart('container1', {

    chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },

    title:  {
                text: 'Potenciometro'
            },

    pane:   {
            startAngle: -150,
            endAngle: 150,
            background: [{
                            backgroundColor:   {
                   linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                    [0, '#FFF'],
                        [1, '#333']
                    ]
                },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 1023,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: '°C'
        },
        plotBands: [{
            from: 0,
            to: 680,
            color: '#55BF3B' // green
        }, {
            from: 680,
            to: 960,
            color: '#DDDF0D' // yellow
        }, {
            from: 960,
            to: 1023,
            color: '#DF5353' // red
        }]
        },

        series: [{
            name: 'Speed',
            data: [0],
            tooltip: {
                valueSuffix: '°C'
            }
        }]

    },
    // Add some life
    function(chart) 
    {
        if (!chart.renderer.forExport)
        {
            setInterval(function()
            {
                var point = chart.series[0].points[0]
                var ValorDaDivStr = $("#barra_potenciometro").text();  
                var ValorDaDivInt = parseInt(ValorDaDivStr)
                point.update(ValorDaDivInt);

            }, 500);
        }
    });
</script>

<script language = "JavaScript">
        Highcharts.chart('container2', {

    chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },

    title:  {
                text: 'Temperatura'
            },

    pane:   {
            startAngle: -150,
            endAngle: 150,
            background: [{
                            backgroundColor:   {
                   linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                    [0, '#FFF'],
                        [1, '#333']
                    ]
                },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 60,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: '°C'
        },
        plotBands: [{
            from: 0,
            to: 38,
            color: '#55BF3B' // green
        }, {
            from: 38,
            to: 45,
            color: '#DDDF0D' // yellow
        }, {
            from: 45,
            to: 60,
            color: '#DF5353' // red
        }]
        },

        series: [{
            name: 'Speed',
            data: [0],
            tooltip: {
                valueSuffix: '°C'
            }
        }]

    },
    // Add some life
    function(chart) 
    {
        if (!chart.renderer.forExport)
        {
            setInterval(function()
            {
                var point = chart.series[0].points[0]
                var ValorDaDivStr = $("#barra_temperatura").text();  
                var ValorDaDivInt = parseInt(ValorDaDivStr)
                point.update(ValorDaDivInt);

            }, 500);
        }
    });
</script>

<script>

    $(document).ready(function(){f_autoupdate_potenciometro();})

    function update_potenciometro()
    {
        $.get("/update_potenciometro",{},
        function(data)
        {
            console.log(data);
            $('#barra_potenciometro').css('width', data).attr('aria-valuenow', data);
            $('#barra_potenciometro').text(data);
        });
    }

    function update_temperatura()
    {
        $.get("/update_temperatura",{},
        function(data)
        {
            console.log(data);
            $('#barra_temperatura').css('width', data).attr('aria-valuenow', data);
            $('#barra_temperatura').text(data);
        });
    }

    function f_autoupdate_potenciometro()
    {
        update_temperatura();
        update_potenciometro();
        setTimeout(function(){f_autoupdate_potenciometro();}, 1000);
    }

</script>


{% endblock %}
